NODE_ENV=development
APP_NAME=Butterfly

PORT=3039

SESSION_SECRET=session-secret
SESSION_COOKIE_NAME=SID
SESSION_COOKIE_DOMAIN=.iredium.local

MONGO_HOST=localhost
MONGO_PORT=27017
MONGO_DATABASE=api-gateway
MONGO_USERNAME=
MONGO_PASSWORD=

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

JWT_SECRET=shhhh
